.bodyBackground {
  background-color: #ffffff;
  height: fit-content !important;
  min-height: 100%;
}

.iphoneHeader {
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 1;
  height: 900px;
  margin-top: -844px;
  background-color: rgb(97, 218, 251);
  padding-top: 56px;
}
