.cardContent {
  display: grid;
}

.cardContainer {
  border-top: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;

  .cardHeader {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}

.chartContainer {
  display: flex;
  padding: 1rem;
}

.victoryContainer {
  pointer-events: auto !important;
  user-select: auto !important;
  touch-action: auto !important;
}

.chartDropdownContainer {
  display: flex;

  .chartDropdown {
    width: 50%;
    padding-left: 5px;
  }
}
