.DayPicker-Footer {
  margin: auto;
  width: fit-content;
}

div.nav-tabs {
  border-bottom: none !important;
}

a.nav-link.active {
  background-color: rgba(0, 0, 0, 0.03) !important;
  border-bottom: none !important;
}
