.DayPicker-Footer {
    margin: auto;
    width: fit-content;
}

/* From WODify */
.component_wrapper, .wod_wrapper {
	word-wrap: break-word;
}

.wod_header {
	font-weight: bold;
	text-transform: uppercase;
	word-wrap: break-word;
	color: #cc2626;
}

.wod_comment {
	font-style: italic;
}

.section_title {
	font-weight: bold;
	word-wrap: break-word;
}

.component_show_wrapper {
	padding-left: 20px;
	line-height: 1.2em;
}

.component_name {
	font-weight: bold;
	color: #cc2626;
	word-wrap: break-word;
}

.component_comment {
	font-style: italic;
	color: #aaaaaa;
	margin-top: 5px;
}